.box {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.box-a {
  background-color: #ffd2a0;
  border: dashed 1px black;
}

.box-b {
  background-color: #efb6c8;
  border: dotted 1px black;
}

.box-c {
  background-color: #c7ceea;
}

.box-d {
  background-color: #8174a0;
}

.box-d:hover {
  background-color: #a0a0a0;
}

.margin {
  margin: 0px 0px 0px 100px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #8174a0;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: pink;
  color: white;
  transition: all 0.5s;
}

.box-hover {
  background-color: #8174a0;
  margin: 2px;
  width: 100px;
  height: 100px;
  display: block;
}

.box-hover:hover {
  background-color: #a0a0a0;
  border-radius: 10px;
  /*
  transition: all 0.5s; */
}
